body {
    background: #E5E5E5;
}

.bg-top {
    width: 100%;
    background: #562EFF;
}

.logo {
    width: 40.42px;
    height: 51px;
}

.nav-link {
    color: #fff;
}

.nav-img {
    width: 51px;
    height: 51px;
}

.players {
    margin-top: 36px;
}

.headline {
    color: #562EFF;
    padding: 36px 0;
}

.player-name>img {
    width: 56px;
    height: 56px;
}

.player-name>p {
    margin-bottom: 0;
    padding-left: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}

.player-name {
    padding-bottom: 30px;
}

@media (max-width:576px) {
    .player-name {
        justify-content: center;
    }

    .players {
        margin-top: 0;
    }

}

.img-area>img {
    width: 177px;
    height: 117px;
    /* margin-left: 20px;
    margin-bottom: 20px; */
}

.text-area h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    padding-bottom: 10px;
    /* or 170% */


    color: #000000;
}

.mute {
    color: #9F9F9F;
}

.text-area a {
    text-decoration: none;
}

.text-area {
    padding-left: 10px;
}

.content {
    margin-bottom: 20px;
}

#courses {
    margin-top: 30px;
}

.card {
    border: none;
}

.card-text {
    color: #ED6B4F;
}

.start {
    height: 11.75303840637207px;
    width: 12.253878593444824px;
    border-radius: 0px;
    margin-right: 5px;
}

.clock {
    height: 20.033588409423828px;
    width: 20.033588409423828px;
    border-radius: 0px;
    margin-right: 10px;
}

.f-text {
    padding-bottom: 0;
    margin-bottom: 0;
}

.timer {
    background: #FFE4E8;
    font-weight: 600;
    font-size: 14.6913px;
    line-height: 20px;

    /* #FF4A60 */
    color: #FF4A60;
    padding: 10px 20px;
    border-radius: 20px;
}

.card-footer {
    border-top: none;
    background: #fff !important;
}

#courses {
    margin-bottom: 30px;
}

.bg-light {
    background: #fff !important;
}